In [31]:
import pandas as pd
import numpy as np

pd.set_option("display.max_columns", None)

In [32]:
original_data = pd.read_excel("C:/Users/kubas/Desktop/narrator/database/2021-11-23-5264.xlsx", sheet_name="Sheet1")

In [33]:
# Copying fro original file
data = original_data

# Deleting not polish tweets
data = data[data['language'] == 'pl']

# Deleting not important columns
data.drop(columns=['Unnamed: 0', 'created_at','timezone','place','language','cashtags', 'retweet', 'quote_url', 'thumbnail', 'video', 'day', 'hour', 'near', 'geo', 'source', 'user_rt_id',
            'user_rt', 'retweet_id','retweet_date','translate','trans_src','trans_dest', 'user_id'], inplace=True)

# Delete duplicates
data.drop_duplicates(subset = ['id'], inplace = True)

<ipython-input-33-668858fe59c3>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop_duplicates(subset = ['id'], inplace = True)

In [34]:
data.to_csv("2021-11-23-5264.csv", encoding="utf-8")

In [35]:
len(data)

54235

In [48]:
data["link"][200:]

Empty DataFrame
Columns: [id, conversation_id, date, tweet, hashtags, user_id_str, username, name, link, urls, photos, nlikes, nreplies, nretweets, search, reply_to]
Index: []